*{
  box-sizing: border-box;
}
.hero{
  display: flex;
  justify-content: space-between;
}
.hero-l{
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.hero-r{
  flex: 1;position: relative;
  background-color: var(--orange);
}
.the-best-ad{
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  text-transform: uppercase;
  padding: 20px 13px;
  color: #fff;
  position: relative;
  display: flex;align-items: center;
  justify-content: space-between;
  transition: 2s;
}
.the-best-ad>span{
  z-index: 999;
}
.the-best-ad>div{
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  border-radius:3rem;
  left: 6px;
  
}
.the-best-ad>div:hover{
 
  transform: translate(100px);
}

.hero-text{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-style: 4.5rem;
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  text-overflow: inherit;
}
.hero-text>:nth-of-type(3){
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  width: 80%;
}
/* figures */
.figures{
  display: flex;
  width: 80%;
  gap: 2rem;
}
.figures>div{
  display: flex;
  flex-direction: column;
}
.figures>div>span:nth-child(1){
  color: wheat;
  font-size: 1.5rem;
}
.figures>div>span:nth-child(2){
  color: var(--gray);
  text-transform: uppercase;
}
.hero-buttons{
  display: flex;
  gap: 1rem;
  font-weight: normal;
}
.hero-buttons>:nth-child(1){
  color: #fff;
  background-color: var(--orange);
  width: 8rem;
}
.hero-buttons>:nth-child(2){
  color: #fff;
  background-color: transparent;
  width: 8rem;
  border: 4px solid var(--orange);
}
.hero-r>.btn{
  position: absolute;
  right: 3rem; top: 2rem; 
}

/* heart */
.heart{
  background: var(--darkGrey);
  position: absolute;
  padding: 1.1rem;
  top: 6rem;
  right: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  flex-direction: column;
  border-radius: 8px;
  padding-left: 0;
}
.heart>img{
  width: 20%;
  margin-left: 1.2rem;
}
.heart>span:nth-of-type(1){
  color: var(--gray);
  padding: 1.3rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.heart>span:nth-of-type(2){
  color: #fff;
  padding: 1.3rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.hero_image{
  position: absolute;
  width: 22rem;
  top: 11rem;
  right: 13rem;
  z-index: 5;
}
.hero_image_back{
  position: absolute;
  right: 20rem;
  top: 5rem;
  height: 28rem;
}
/* calories */
.calories{
  background-color: var(--caloryCard);
  display: flex;
  align-items: center;
  width: 16rem;
  justify-content: space-between;
  position: absolute;
  top: 75%;
  right: 45rem;
  z-index: 777;
  padding: 10px;
}
.calories>div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.calories>div>span:nth-of-type(1){
  color: var(--gray);
}
.calories>div>span:nth-of-type(2){
  color: #fff;
  font-size: 1.5rem;
  padding-top: 10px;
}
.blur-h{
  top: 2rem;
  width: 23rem;
  height: 34rem;
}
@media screen and (max-width:768px){
  .hero{
    flex-direction: column;
  }
  .the-best-ad{
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero-text{
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero-text>div:nth-child(3){
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-buttons{
    justify-content: center;
  }
  .figures>div>span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .figures>div>span:nth-of-type(1){
    font-size: large;
  }
  .figures>div>span:nth-of-type(2){
    font-size: small;
  }
  .hero-r{
    position: relative;
    background: none;
  }
  .calories{
    position: absolute;
    top: 4rem;display: flex;
    gap: 0;
    left: 1rem;
    display: none;
  }.calories>img{
    width: 2rem;
  }
  .calories>div>:nth-child(2){
    color: #fff;
    font-size: 1rem;
  }
  .hero_image{
    position: relative;
    width: 16rem;
    left: 3rem;
    top: 0rem;
    align-self: center;
  }
  .heart{
    display: none;
  }
  .hero_image_back{
    width: 15rem;
    left: 3rem;
    top: -4rem;
  
  }
  
  .hero-r>.btn{
    position: relative;
    z-index: 9;
    left: 40%;
    top: 0;
  }
  .blur-h{
    width: 15rem;
  }
}