.footer-container{
  position: relative;
}
.footer-container>hr{
  border: 1px solid var(--lightgray);
}.footer{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.footer>.social{
  display: flex;
  gap: 4rem;
}
.footer .logo{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo img{
  width: 20rem;
}
.social>img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
@media screen and (max-width:768px){
  .footer .logo img{
    width: 12rem;
  }
}